VITE_NETWORK=mainnet
VITE_CONTRACT_ADDRESS=SP3FKNEZ86RG5RT7SZ5FBRGH85FZNG94ZH1MCGG6N
VITE_VAULT_CONTRACT=vault-v-A2
VITE_REWARDS_CONTRACT=rewards-v-A2
VITE_GOVERNANCE_CONTRACT=governance-v-A2
VITE_EMERGENCY_CONTRACT=emergency-v-A2
VITE_HIRO_API_URL=https://api.mainnet.hiro.so
VITE_EXPLORER_URL=https://explorer.hiro.so
VITE_APP_NAME=TimeFi Protocol
VITE_APP_DESCRIPTION=Time-locked vaults on Stacks
VITE_ENABLE_TESTNET=false
VITE_ENABLE_DEBUG=false
